<div id="cerves">
{{#each this}} 
<div id="cerveEspe">
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<p>{{this.tagline}}</p>
<div><img src= {{this.image_url}} height="180vh" width="60vw"></div>
</div>
{{/each}}
</div>