<div id="container">

<img id="imagenPrincipal" src="images/beer.png" alt="Beer">
<br>
<br>
<br>
<br>

<a class="button" href="/beers">Check the Beers!</a>
<br>
<a class="button" href="/random-beers">Check a Random Beer!</a>

</div>